@font-face {
    font-family: "main";
    src: url("ProggyClean.ttf");
}

body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    font-family: "main";
    font-size: 20pt;
}

.bodyContent {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    transform: translate(-50%);
    z-index: -11;
}

.margin {
    margin-bottom: 90px;
}

.doesWordAppear {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 700px;
}

.uiContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    
}

.pageContainer {
    width: 700px;
}

@media only screen and (max-width: 700px) {
    .doesWordAppear {
        width: calc(100vw - 60px);
        justify-content: center;
    }

    .pageContainer {
        width: calc(100vw - 60px);
    }

    .uiContainer {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        max-width: calc(100vw - 60px);
    }

    .tooltip .tooltiptext {
        display: none;
    }

    .tooltip:hover .tooltiptext {
        display: none;
    }
}

.uiContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input {
    height: 50px;
    width: 400px;
}

button {
    width: 200px;
    height: 59.8px;
    font-family: "main";
    border: white solid 3px;
    border-radius: 2px;
    font-size: 100%;
    background-color: transparent;
    color: white;
}

textarea {
    font-family: "main";
    background-color: transparent;
    border: white solid 3px;
    border-radius: 2px;
    font-size: 20px;
    color: white;
}

textarea:active {
    border-radius: 2px;
    border: white solid 3px;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: grey;
    opacity: .75;
}

.statCircle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: white;
}
  /* Tooltip text */
  .tooltip .tooltiptext {
    margin-top: -120px;  
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    
    padding: 5px;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity: .9;
  }

  .tooltiptext {
    padding-right: 10px;
    padding-left: 4px;
    font-size: 16pt;
   
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .invisible {
    display: none;
    visibility: none;
  }

  .visible {
    display: block;
    visibility: visible;
  }